<%- include("partials/header"); -%>

<div class="about">

<p>Hello. Here is some of my English poetry.</p>
<p>Please don't copy it without permission.</p>
<p>You can contact me at <a href="mailto:vlad.proex@gmail.com">vlad.proex@gmail.com</a>.</p>

</div>

<%- include("partials/footer"); -%>
