* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: black;
}

a:hover {
  color: gray;
  text-decoration: none;
}

.main{
  height: 100%;
  margin-bottom: 120px;
}

footer {
  text-align: center;
  height: 20vh;
  margin-top: auto;
}

.site-title {
  margin: 1% 0;
  font-family: 'Merriweather', serif;
  font-size: 2em;
}

.header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

nav ul {
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li{
  margin: 1% 2%;
}

.poems-list {
  text-align: center;
}

.poems-list li {
  list-style: none;
  margin-top: 10px;
}

.grayed {
  text-color: gray;
}

.poem {
  width: 40%;
  margin: 0 auto;
  min-height: 60vh;
}

.nav-buttons {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.nav-buttons button {
  border-style: none;
  background-color: inherit;
}

.nav-buttons .fas {
  color: black;
  font-size: 1.4em;
}

.nav-buttons .fas:hover {
  color: gray;
  font-size: 1.5em;
}

.add-poem {
  width: 50%;
  margin: 0 auto;
}

.add-poem form * {
  display: block;
  width: 50%;
}

.body-input {
  height: 10%;
}

.about {
  margin: 10% 0;
  text-align: center;
}

.poem-title {
  font-family: 'Roboto Mono', monospace;
}

.poem-body {
  margin: 4% 0;
  font-family: 'Roboto Mono', monospace;
}

.poem-date {
  font-size: .9em;
  font-style: italic;
}

@media (max-width:480px){
  .site-title{
    margin-top: 5%;
  }
  .poem{
    width: 65%;
  }
  .poem-body{
    margin: 10% 0;
    font-size: .9em;
  }
  .nav-buttons{
    margin: 10% 0;
  }
}
